extends layout

block content
  include partials/client_header
  div.grid.grid-rows-1.grid-cols-1.m-20
    div.grid.justify-items-center.py-10.text-pink-400
      p.text-4xl.p8= "Muchas gracias, para continuar, responde las siguientes preguntas"
    div.grid.justify-items-center.py-10.text-black-400
      p.text-2xl.p8= "Esto nos ayudara a agilizar tu proceso con nosotros"
    form(action="http://localhost:3000/exito", method="post").grid.justify-items-center.py-10.text-blue-400.bg-pink-200.border-1.border-black.rounded-2xl
      div.text-3xl
        p.py-10.text-pink-400= "FORMULARIO"
      div.text-2xl
          input(type="hidden",  required,name="id" value=id).my-2.border-1.border-black.rounded-md
          p.py-2= "NOMBRE"
          input(type="text",  required,name="Nombre").my-2.border-1.border-black.rounded-md
          p.py-2= "APELLIDO"
          input(type="text",  required,name="Apellido").my-2.border-1.border-black.rounded-md
          p.py-2= "NUMERO"
          input(type="text",  required,name="Numero").my-2.border-1.border-black.rounded-md
          p.py-2= "EDAD"
          input(type="text", required,name="Edad").my-2.border-1.border-black.rounded-md
          p.py-2= "SERVICIO QUE LE INTERESA"
          select(name="Servicio").block.appearance.w-center.bg-white.border.border-gray-400.px-2.py-2.pr-8.rounded.shadow.leading-tight(class='hover:border-gray-500 focus:outline-none focus:shadow-outline')
            option Guarderia
            option Option 2
            option Option 3
          p.py-2= "ZONA DONDE VIVE"
          select(name="zona").block.appearance.w-center.bg-white.border.border-gray-400.px-2.py-2.pr-8.rounded.shadow.leading-tight(class='hover:border-gray-500 focus:outline-none focus:shadow-outline')
            option Zona Centro
            option Option 2
            option Option 3
          p.py-2= "CORREO ELECTRONICO"
          input(type="text",required,name="email").my-2.border-1.border-black.rounded-md
          
      div.text-xl
        button(type="submit").mt-2.py-5.px-20.rounded-full.bg-green-300.text-white= "ENVIAR"

      
    