extends layout

block content
    include partials/admin_header
    div.grid.grid-cols-5
        include side_menu
        div.col-span-4.h-full
            div.grid.grid-cols-2.m-10
                p.m-3.text-3xl.text-green-400= "Modificar a un niño"
            form(action="/admin/modify-child" method="POST")
                div.grid.grid-rows-2.justify-items-center.text-lg
                    div.grid.grid-cols-2.gap-x-10
                        div
                            p Nombre
                            input.my-2.border-2.border-black.rounded-md(name="name", value=child.firstName , readonly)
                            p= "Apellido"
                            input.my-2.border-2.border-black.rounded-md(name="lastname", value=child.lastName, readonly)
                            p= "Fecha de nacimiento"
                            input.my-2.border-2.border-black.rounded-md.w-full(name="birthdate", type="date", value=child.birthData)
                            p= "Alergias"
                            input.my-2.border-2.border-black.rounded-md(name="alergies", value=child.alergiesDescription)
                            p= "Padecimientos"
                            input.my-2.border-2.border-black.rounded-md(name="chronicCondition", value=child.chronicConditionDescription)
                            p= "Número de emergencia"
                            input.my-2.border-2.border-black.rounded-md(name="emergencyNumber", value=child.emergencyNumber)
                            p= "Dias de Servicio"
                            input.my-2.border-2.border-black.rounded-md(name="days", value=child.emergencyNumber)
                            p= "Horas diarias"
                            input.my-2.border-2.border-black.rounded-md(name="dailyHours", value=serviceChild.dailyHours)
                            p= "Fecha de entrada"
                            input.my-2.border-2.border-black.rounded-md.w-full(name="entryDate", type="date", value=child.entryData)
                        div
                            input(type="hidden",name="id", readonly="readonly", value=child.id)
                    input.mt-2.py-2.px-12.rounded-full.bg-green-500.text-white.h-12(type='submit' value='Modificar niño')

